/extensions/world-clock/target/
/extensions/world-clock/extension.wasm
/extensions/example/extension.wasm
/extensions/example/node_modules/
/extensions/example/dist/
.idea
.slim/deepwork/

target
*.wasm
.codspeed/
