[Unit]
StartLimitIntervalSec=60
StartLimitBurst=3
Description=Shilpo Idle Management Daemon (swayidle)
PartOf=shilpo-session.target
After=shilpo-session.target

[Service]
ExecStart=/usr/bin/swayidle -w -C %h/.config/swayidle/config
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=shilpo-session.target
