[Unit]
StartLimitIntervalSec=60
StartLimitBurst=3
Description=Shilpo Polkit Authentication Agent
PartOf=shilpo-session.target
After=shilpo-session.target

[Service]
ExecStart=@POLKIT_AGENT@
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=shilpo-session.target
