[Unit]
Description=Shilpo Idle Management Daemon (swayidle)
PartOf=niri.service
After=niri.service

[Service]
ExecStart=/usr/bin/swayidle -w -C %h/.config/swayidle/config
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=niri.service
