[Unit]
Description=Shilpo Desktop Shell
Documentation=man:shilpo-shell(1) https://github.com/sayeed205/shilpo
PartOf=niri.service
After=niri.service

[Service]
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/shilpo-shell
Restart=always
RestartSec=2s
KillSignal=SIGTERM
TimeoutStopSec=5s
Environment=XDG_CURRENT_DESKTOP=niri

[Install]
WantedBy=niri.service
