[Unit]
Description=Shilpo Desktop Shell
Documentation=man:shilpo(1) https://github.com/shilpo-rs/shilpo
PartOf=niri.service
After=niri.service

[Service]
Type=dbus
BusName=org.shilpo.Shell
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/shilpo daemon
Restart=always
RestartSec=2s
KillSignal=SIGTERM
TimeoutStopSec=5s
Environment=XDG_CURRENT_DESKTOP=niri

[Install]
WantedBy=niri.service
