[Unit]
StartLimitIntervalSec=60
StartLimitBurst=3
PartOf=shilpo-session.target
Description=Shilpo device integration daemon
After=shilpo-session.target

[Service]
Type=dbus
BusName=org.shilpo.Device
ExecStart=/usr/bin/shilpo device-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=shilpo-session.target
