[Unit]
StartLimitIntervalSec=60
StartLimitBurst=3
Description=Shilpo GNOME Keyring Session Agent
PartOf=shilpo-session.target
After=shilpo-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --foreground --components=secrets,ssh
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=shilpo-session.target
